<% layout('/layouts/boilerplate') -%>

<body>
    <div class="row m-3" style="width:80%">
        <div class="alert alert-danger col-6 offset-2" role="alert" style="width:80%">
          <h4 class="alert-heading">Oops! Something went wrong</h4>
          <p><%= message %></p>
        </div>
      </div>
   
</body>