
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    font-size: 2rem;
    color: red;
}
.nav-link{
    color:#222222 !important;
}
.f-links a{
    text-decoration: none;
    color:#222222;
}
.f-links a:hover{
    text-decoration: underline;
}
.f-socials{
    font-size: 1.5rem;

}
.f-info{
    background-color: rgb(138, 136, 136);
    height:6rem;
    text-align: center;
}
.card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
  border-radius: 1rem !important;
  width:100% !important;
  object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
.btn-add{
    background-color: red !important;
    border: none !important;

}
.btn-update{
    background-color: red !important;
    color: white !important;
    border: none !important;
}
.show-links button a{
   text-decoration: none;
}
.btn-edit{
    background-color: red !important;
    border: none !important;
    color:white !important
}
.btn-delete{
    background-color: red !important;
    border: none !important;
    color:White !important;
   
}
